*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	transition: background-color 0.2s, color 0.2s;
}

[data-mode='dark'] {
	--bg-color: #000000;
	--bg-color-cont: #14213d;
	--btn-color: #e5e5e5;
	--font-color: #e5e5e5;
	--main-color: #fca311;
	--warning: rgb(177, 101, 101);
}

[data-mode='light'] {
	--bg-color: #ffffff;
	--bg-color-cont: #e4e4e4;
	--btn-color: #353535;
	--font-color: #353535;
	--main-color: #2f7596;
	--warning: rgb(177, 101, 101);
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg-color);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.8rem;
	margin: 4em 0;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	margin: 0 1em;
	width: clamp(300px, 100%, 700px);
	background-color: var(--bg-color-cont);
	color: var(--font-color);
	border: 1px solid var(--main-color);
	border-radius: 8px;
	box-shadow: 2px 2px 15px rgba(17, 17, 17, 0.8);

	.mode {
		position: absolute;
		right: 3%;
		top: 3%;
		width: 30px;
		height: 30px;
		background-color: var(--btn-color);
		border: 2px solid transparent;
		border-radius: 6px;
		transition: border 0.3s;
		cursor: pointer;

		&:hover,
		&:focus {
			outline: none;
			border: 2px solid var(--main-color);
		}

		i {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-51%, -50%);
			font-size: 2rem;
			opacity: 0.5;
		}
	}

	.line {
		position: absolute;
		top: 53%;
		width: 100%;
		height: 1px;
		background-color: var(--main-color);
	}

	&__heading {
		position: relative;
		text-transform: uppercase;
		font-size: 3rem;
		margin-bottom: 1.4em;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 30%;
			background-color: var(--main-color);
			border-radius: 5px;
		}
	}

	&__label {
		font-size: 2rem;
		margin-bottom: 0.6em;
		text-align: center;

		span {
			font-weight: 900;
			letter-spacing: 2px;
			color: var(--main-color);
		}
	}

	&__input {
		padding: 0.6em 1.2em;
		width: 80%;
		margin-bottom: 1em;
		border: 2px solid transparent;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(17, 17, 17, 0.2);

		&:focus {
			outline: none;
			border: 2px solid var(--main-color);
		}
	}

	&__passinfo {
		font-size: 1.6rem;
		color: var(--warning);
		margin-bottom: 2em;
		text-align: center;
	}

	&__subheading {
		line-height: 120%;
		margin-top: 2em;
		margin-bottom: 0.8em;
		text-align: center;
	}

	&__list {
		margin-bottom: 1.2em;
		&-item {
			list-style-image: url('../img/check-circle.svg');
			list-style-position: inside;
			line-height: 150%;
		}
	}

	&__strong-pass {
		line-height: 120%;
		text-align: center;
		span {
			font-weight: 900;
			color: var(--main-color);
		}
	}
}

@media (min-width: 375px) {
	body {
		margin: 0;
	}
}

@media (min-width: 768px) {
	.container {
		&__input {
			width: 50%;
		}
	}
}
